{% extends 'StreetSpotsWebsiteBundle::standalone.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="card">
        <div class="card-block">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock body %}
