{% extends 'StreetSpotsWebsiteBundle::standalone.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="card">
        <div class="card-block">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock body %}
