{% extends 'StreetSpotsWebsiteBundle::standalone.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="card">
        <div class="card-block">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            {% if form.vars.errors|length %}
                <div class="text-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {{ form_row(form.email, {'addon_icon': 'envelope-o'}) }}
            {{ form_row(form.username, {'addon_icon': 'user-circle-o'}) }}
            {{ form_row(form.plainPassword, {'attr': {'placeholder': 'label'}}) }}

            {{ form_rest(form) }}

            <hr>
            <small class="mb-2 text-muted text-justify">
                {{ 'streetspots.register.xterms'|trans({}, 'StreetSpotsWebsiteBundle')|raw }}
            </small>
            <hr>

            <input type="submit" class="btn btn-block btn-success" value="{{ 'registration.submit'|trans }}"/>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
