{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row" style="height: 220px">
            <div id="map" class="w-100 h-100"></div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <h1 class="display-4">{{ spot.name }}</h1>
                <address>
                    {{ spot.location.name }}
                </address>
                <p>{{ autolink_tags(spot.description) }}</p>
                <p>
                    {{ reactionsWidget(spot) }}
                </p>
            </div>
        </div>
    </div>

    {% if spot.images|length > 0 %}
        <div class="row w-100 no-gutters">
            <div id="carouselExampleControls" class="carousel slide ss-slider w-100" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-inner" role="listbox">
                        {% for image in spot.images %}
                            <div class="carousel-item text-center{% if loop.first %} active{% endif %}">
                                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('spot_image_slide_1024') }}" alt="" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid">
        {% if neighborhood|length > 1 %}
            <div class="row my-3">
                <div class="col-12">
                    <h4>{{ 'Find nearest spots'|trans }}</h4>
                    <ul class="list-group">
                        {% for neighbor in neighborhood %}
                            {% include '@StreetSpotsWebsite/Partials/spot_with_distance.html.twig' with { 'spot': neighbor.0, 'distance': neighbor.distance } %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const locations = [
            {
                'latitude': {{ spot.location.latitude }},
                'longitude': {{ spot.location.longitude }},
                'type': 'main',
                'url': '{{ path('streetspots.spot', {'slug': spot.slug}) }}'
            }
        ];

        {% for neighbor in neighborhood %}
        locations.push({
            'latitude': {{ neighbor.0.location.latitude }},
            'longitude': {{ neighbor.0.location.longitude }},
            'type': 'spot',
            'url': '{{ path('streetspots.spot', {'slug': neighbor.0.slug}) }}'
        });
        {% endfor %}
    </script>
    <script src="{{ asset('bundles/streetspotswebsite/js/spot.view.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAj9txt-tTYU1kYhkXW5Ccea0-pdZngt8&callback=initMap"></script>
{% endblock %}
