{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


