{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('user_profile_picture_thumbnail_200') }}" alt="{{ user.username }}" class="rounded rounded-circle img-fluid"/>
        </div>
        <div class="col-sm-8">
            <div class="align-middle">
                <h1 class="d-inline-block align-middle h2">{{ user.username }}</h1>
                <div class="d-inline-block btn-group align-middle streetspots-left-margin">
                    <a href="{{ path('user.follow', { 'username': user.username }) }}" class="btn btn-primary">Follow</a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        {#<li class="dropdown-item"><a href="#">Send DM</a></li>#}
                        {#<li role="separator" class="divider"></li>#}
                        <li class="dropdown-item"><a href="#">Block user</a></li>
                    </ul>
                </div>
            </div>

            <p><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></p>
            <p>{{ user.bio|nl2br }}</p>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item justify-content-between">
            <a href="{{ path('profile.spots') }}">Liked spots</a>
            {#<span class="badge badge-default badge-pill">{{ user.spots|length }}</span>#}
        </li>
        <li class="list-group-item justify-content-between">
            <a href="{{ path('profile.followers') }}">Followers</a>
            <span class="badge badge-default badge-pill">{{ user.followers|length }}</span>
        </li>
        <li class="list-group-item justify-content-between">
            <a href="{{ path('profile.following') }}">Following</a>
            <span class="badge badge-default badge-pill">{{ user.following|length }}</span>
        </li>
    </ul>
{% endblock %}
