<nav class="navbar fixed-bottom navbar-dark bg-dark navbar-expand">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{ knp_menu_render('StreetSpotsWebsiteBundle:Builder:mainMenu', {'template': 'StreetSpotsWebsiteBundle:Partials:menu.html.twig', 'depth': 1, 'currentAsLink': true, 'currentClass': 'active', 'ancestorClass': 'active', 'routeAbsolute': true}) }}
    </div>
</nav>
