{% set currentItem = knp_menu_get_current_item('StreetSpotsWebsiteBundle:Builder:mainMenu') %}
{% set level = currentItem.level %}

{% for i in 1..(level-1) if level > 1 %}
    {% set currentItem = currentItem.parent %}
{% endfor %}

{% if currentItem.level != 0 and currentItem|length > 0 %}
    <nav class="navbar sticky-top navbar-light bg-light navbar-expand">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {{ knp_menu_render(currentItem, {'template': 'StreetSpotsWebsiteBundle:Partials:menu.html.twig', 'depth': 2, 'matchingDepth': 1, 'currentAsLink': true, 'currentClass': 'active', 'routeAbsolute': true}) }}
        </div>
    </nav>
{% endif %}
