<meta charset="utf-8">
<title>Notes</title>
<!-- Sets initial viewport load and disables zooming  -->
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<!-- Roboto -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700">

<link rel="stylesheet" href="{{ asset('bundles/streetspotswebsite/css/app.css') }}">
