{% extends 'knp_menu.html.twig' %}

{%- block linkElement -%}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
        {%- if item.getExtra('icon') is not empty -%}<i class="fa fa-{{ item.getExtra('icon') }} d-block"></i>{%- endif -%}
        {% if item.label %}<span class="small">{{ block('label') }}</span>{% endif %}
    </a>
{%- endblock -%}
