<a href="{{ path('streetspots.spot', { 'slug': spot.slug }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    {{ spot.name }}
    <span class="badge badge-secondary badge-pill"><i class="fa fa-star"></i> {{ rating }}</span>
</a>
