<a href="{{ path('streetspots.tag', { 'slug': tag.slug }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    #{{ tag.name }}
    <span class="badge badge-secondary badge-pill">{{ tag.tagging|length }}</span>
</a>
