<a href="{{ path('streetspots.user', { 'username': user.username }) }}" class="list-group-item list-group-item-action">
    <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('user_profile_picture_thumbnail_100') }}" alt="{{ user.username }}" class="rounded-circle float-left mr-3"/>

    <h5 class="mb-1">{{ user.username }}</h5>
    <small class="text-muted d-block">{{ user.bio|nl2br }}</small>

    <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="badge badge-secondary">{{ user.spots|length }}</span></li>
        <li class="list-inline-item"><i class="fa fa-users" aria-hidden="true"></i> <span class="badge badge-secondary">{{ user.following|length }}</span></li>
        <li class="list-inline-item"><i class="fa fa-users" aria-hidden="true"></i> <span class="badge badge-secondary">{{ user.followers|length }}</span></li>
    </ul>
</a>
