{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Showing users following {{ user.username }}</h1>

                <ul class="list-group my-3">
                    {% for user in followers %}
                        {% include '@StreetSpotsWebsite/Partials/user.html.twig' with { 'user': user } %}
                    {% endfor %}
                </ul>

                <div class="navigation my-3">
                    {{ knp_pagination_render(followers) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
