{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}
    <ul class="table-view">
        {% for user in users %}
            {% include '@StreetSpotsWebsite/Partials/user.html.twig' with { 'user': user } %}
        {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

