{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Spots rated by {{ user.username }}</h1>

                <p> Found {{ spots.getTotalItemCount }} spots.</p>

                <ul class="list-group my-3">
                    {% for spot in spots %}
                        {% include '@StreetSpotsWebsite/Partials/spot_with_rating.html.twig' with { 'spot': spot, 'rating': spot.ratings.0.stars } %}
                    {% endfor %}
                </ul>

                <div class="navigation my-3">
                    {{ knp_pagination_render(spots) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
