{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('user_profile_picture_thumbnail_200') }}" alt="{{ user.username }}" class="rounded-circle img-fluid"/>
            </div>
            <div class="col-8">
                <div class="align-middle">
                    <h1 class="d-inline-block align-middle h2">{{ user.username }}</h1>
                    <div class="d-inline-block align-middle streetspots-left-margin">
                        {% if app.user is not same as(user) %}
                            {% if user_is_following(user) %}
                                <a href="{{ path('streetspots.user.unfollow', { 'username': user.username }) }}" class="btn btn-primary">Unfollow</a>
                            {% else %}
                                <a href="{{ path('streetspots.user.follow', { 'username': user.username }) }}" class="btn btn-primary">Follow</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <p><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></p>
                <p>{{ user.bio|nl2br }}</p>
            </div>
        </div>

        <ul class="list-group my-3">
            <a href="{{ path('streetspots.user.rated_spots', { 'username': user.username }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Rated spots
                <span class="badge badge-secondary badge-pill">{{ rated_spots|length }}</span>
            </a>
            <a href="{{ path('streetspots.user.spots', { 'username': user.username }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Added spots
                <span class="badge badge-secondary badge-pill">{{ spots|length }}</span>
            </a>
            <a href="{{ path('streetspots.user.followers', { 'username': user.username }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Followers
                <span class="badge badge-secondary badge-pill">{{ user.followers|length }}</span>
            </a>
            <a href="{{ path('streetspots.user.following', { 'username': user.username }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Following
                <span class="badge badge-secondary badge-pill">{{ user.following|length }}</span>
            </a>
        </ul>
    </div>

{% endblock %}
