.content {
  padding-bottom: $spacer * 5;
}

a.icon:hover,
a.icon:active,
a.icon:focus,
a.icon:visited,
a.tab-item:hover,
a.tab-item:active,
a.tab-item:focus,
a.tab-item:visited,
a.tab-item:hover {
  text-decoration: none;
}

body {
  &.page-standalone {
    div.background-image {
      background: linear-gradient(
                      rgba(0, 16, 41, 0.2),
                      rgba(0, 16, 41, 0.2)
      ),
      url(../images/bg_6RBX3LJYC4.jpg);

      background-size: cover;

      transform: scale(1.01);
      position: fixed;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      filter: blur(4px);
    }

    .container {
      width: 100%;
      background: transparent;
      position: fixed;
      z-index: 2;
    }
  }
}

.login-box {
  background: rgba(255, 255, 255, .9);
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: theme-color("secondary");
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

#spot_images {
  input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .btn--collection-add-entry {
    width: 100%;
    text-align: center;
    display: table;

    i.fa {
      display: table-cell;
      vertical-align: middle;
      font-size: 10em;
      color: theme-color("primary");
    }
  }
}

.ss-slider {
  background: $gray-200;
}
