{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Explore</h1>

                <ul class="list-group my-3">
                    {% for spot in spots %}
                        {% include '@StreetSpotsWebsite/Partials/spot.html.twig' with { 'spot': spot } %}
                    {% endfor %}
                </ul>

                <div class="navigation my-3">
                    {{ knp_pagination_render(spots) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

