{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="height: 220px">
            <div id="map" class="w-100 h-100"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const locations = [];
    </script>
    <script src="{{ asset('bundles/streetspotswebsite/js/index.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAj9txt-tTYU1kYhkXW5Ccea0-pdZngt8&callback=initMap"></script>
{% endblock %}
