{% if userReaction is null %}
    <div class="btn-group" role="group" aria-label="React">
        <a href="{{ path('streetspots.reaction.like', {'entityTypeId': entity.entityType.id, 'entityId': entity.id}) }}" role="button" class="btn btn-outline-success"><i class="fa fa-thumbs-up"></i> {{ likes }}</a>
        <a href="{{ path('streetspots.reaction.dislike', {'entityTypeId': entity.entityType.id, 'entityId': entity.id}) }}" role="button" class="btn btn-outline-danger"><i class="fa fa-thumbs-down"></i> {{ dislikes }}</a>
    </div>
{% else %}
    <div class="btn-group" role="group" aria-label="React">
        <a href="{{ path('streetspots.reaction.like', {'entityTypeId': entity.entityType.id, 'entityId': entity.id}) }}" role="button" class="btn btn-outline-success{% if userReaction.reactionType
        .id == constant('StreetSpots\\WebsiteBundle\\Repository\\ReactionTypeRepository::TYPE_LIKE') %} disabled{% endif %}"><i class="fa fa-thumbs-up"></i> {{ likes }}</a>
        <a href="{{ path('streetspots.reaction.dislike', {'entityTypeId': entity.entityType.id, 'entityId': entity.id}) }}" role="button"
           class="btn btn-outline-danger{% if userReaction.reactionType.id == constant('StreetSpots\\WebsiteBundle\\Repository\\ReactionTypeRepository::TYPE_DISLIKE') %} disabled{% endif %}"><i class="fa fa-thumbs-down"></i> {{ dislikes }}</a>
    </div>
{% endif %}
