{% extends '@StreetSpotsWebsite/base.html.twig' %}
{% form_theme form _self %}

{% block title %}StreetSpotsWebsiteBundle:Search:index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">{{ 'Search'|trans }}</h1>
                {{ form(form) }}
                {% if type is same as('user') %}
                    {{ block('search_users') }}
                {% else %}
                    {{ block('search_tags') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block search_users %}
    {% if users|length > 0 %}
        <h5>
            {% transchoice users|length with {'%count%': users|length} %}
            {0} There are no users matching the query|{1} Found 1 user matching the query|]1,Inf] Found %count% users matching the query
            {% endtranschoice %}
        </h5>
        <ul class="list-group">
            {% for user in users %}
                {% include '@StreetSpotsWebsite/Partials/user.html.twig' with { 'user': user } %}
            {% endfor %}
        </ul>

        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    {% endif %}
{% endblock %}

{% block search_tags %}
    {% if tags|length > 0 %}
        <h5>
            {% transchoice tags|length with {'%count%': tags|length} %}
            {0} There are no tags matching the query|{1} Found 1 tag matching the query|]1,Inf] Found %count% tags matching the query
            {% endtranschoice %}
        </h5>
        <ul class="list-group">
            {% for tag in tags %}
                {% include '@StreetSpotsWebsite/Partials/tag.html.twig' with { 'tag': tag } %}
            {% endfor %}
        </ul>

        <div class="navigation">
            {{ knp_pagination_render(tags) }}
        </div>
    {% endif %}
{% endblock %}

{% block _streetspots_search_type_widget %}
    <div class="btn-group d-flex" data-toggle="buttons">
        {{ block('form_rows') }}
    </div>
{% endblock %}

{% block _streetspots_search_type_entry_row %}
    {%- set parent_label_class = 'radio-inline' -%}
    {%- set label_attr = label_attr|merge({class: label_attr.class|default('btn btn-secondary w-100')}) -%}
    {% if checked %}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('active') ~ ' active')|trim}) -%}
    {% endif %}
    {{ form_widget(form, {'label_attr': label_attr, 'parent_label_class': parent_label_class }) }}
{% endblock %}
