{% extends "StreetSpotsWebsiteBundle::standalone.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="card col-12">
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post" class="">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <div class="form-group">
                            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="sr-only">{{ 'security.login.password'|trans() }}</label>
                            <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" class="form-control"/>
                            <p class="text-sm-right"><a href="{{ path('fos_user_resetting_request') }}" class="text-muted small">{{ 'streetspots.login.forgot_my_password'|trans({}, 'StreetSpotsWebsiteBundle') }}</a></p>
                        </div>

                        <div class="form-group mb-0">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-block"/>
                            <p class="text-muted h6 my-1 strike text-xs-center">
                                <span>{{ 'streetspots.login.or'|trans({}, 'StreetSpotsWebsiteBundle') }}</span>
                            </p>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-block btn-success" role="button">{{ 'streetspots.login.sign_up'|trans({}, 'StreetSpotsWebsiteBundle') }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
