{% extends '@StreetSpotsWebsite/base.html.twig' %}

{% block body %}

    <form class="input-group">
        <div class="input-row">
            <label>Full name</label>
            <input type="text" placeholder="Mister Ratchet">
        </div>
        <div class="input-row">
            <label>Email</label>
            <input type="email" placeholder="ratchetframework@gmail.com">
        </div>
        <div class="input-row">
            <label>Username</label>
            <input type="text" placeholder="goRatchet">
        </div>
        <button class="btn btn-primary btn-block">{% trans %}Zapisz{% endtrans %}</button>
    </form>

    <form>
        <ul class="table-view">
            <li class="table-view-cell">
                Item 1
                <div class="toggle active">
                    <div class="toggle-handle"></div>
                </div>
            </li>
            <li class="table-view-cell table-view-cell">

                <input type="text" placeholder="Full name">

            </li>
            <li class="table-view-divider">
                test
            </li>
            <li class="table-view-cell">
                <input type="text" placeholder="Full name">
            </li>
            <li class="table-view-cell">
                <input type="text" placeholder="Full name">
            </li>
            <li class="table-view-cell">
                <textarea rows="5"></textarea>
            </li>
        </ul>

        <button class="btn btn-primary btn-block">{% trans %}Zapisz{% endtrans %}</button>
    </form>
{% endblock %}
