{% extends 'StreetSpotsWebsiteBundle::standalone.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="card">
        <div class="card-block">
            <p>
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
            </p>
        </div>
    </div>
{% endblock body %}
