{% extends 'StreetSpotsWebsiteBundle::standalone.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="card">
        <div class="card-block">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="form-group">
                    <label for="username" class="sr-only">{{ 'resetting.request.username'|trans }}</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="fa fa-envelope-o"></span></div>
                        <input type="text" id="username" name="username" required="required" class="form-control" placeholder="{{ 'resetting.request.username'|trans }}"/>
                    </div>
                </div>
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-block btn-primary"/>
            </form>
        </div>
    </div>
{% endblock body %}


