{% extends 'StreetSpotsWebsiteBundle::standalone.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="card">
        <div class="card-block">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

            {{ form_errors(form) }}

            {{ form_row(form.plainPassword) }}

            {{ form_rest(form) }}

            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-block btn-primary"/>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}


