<!DOCTYPE html>
<html>
<head>
    {% include('StreetSpotsWebsiteBundle:Partials:head.html.twig') %}
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/streetspotswebsite/js/app.min.js') }}"></script>
    {% endblock %}
</head>
<body class="page-{{ standalone|default('base') ? 'standalone' : 'base' }}">
{% block wrapper %}
    {% block header %}{% embed 'StreetSpotsWebsiteBundle:Partials:header.html.twig' %}{% endembed %}{% endblock %}
    <div class="content my-3">
            {% if app.request.hasPreviousSession %}
                {% for label, flashes in app.session.flashbag.all() %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% block body %}{% endblock %}
    </div>
    {% block footer %}{% embed 'StreetSpotsWebsiteBundle:Partials:footer.html.twig' %}{% endembed %}{% endblock %}
{% endblock %}
</body>
</html>

