{% block _spot_images_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' card-group')|trim}) %}
    <div {{ block('widget_container_attributes') }}>
        <div class="card btn--collection-wrapper">
            <div class="card-block">
                <div class="card-text">
                    <a href="#" class="card-link btn-link btn btn--collection-add-entry"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        {{- block('form_rows') -}}
    </div>
    {% if prototype is defined %}
        <template>
            {{ form_row(prototype) }}
        </template>
    {% endif %}

{% endblock %}

{% block _spot_images_entry_row %}
    {{ form_widget(form.imageFile) }}
{% endblock %}

{% block _spot_images_entry_imageFile_widget %}
    <div class="card">
        {% if image_uri %}
            <img class="card-img-top" src="{{ image_uri }}" alt="">
        {% else %}
            <img class="card-img-top" src="{{ asset('images/spot_image.jpg') }}" alt="">
        {% endif %}
        <div class="card-block">
            <div class="card-text">
                {{ form_widget(form.file) }}
                {{ form_label(form.file) }}
                <a href="#" class="card-link btn btn-negative btn-lg btn--collection-remove-entry"><i class="fa fa-remove"></i> {{ 'Remove'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block _spot_images_entry_imageFile_file_label %}
    {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' btn btn-primary card-link btn-lg')|trim, 'for': id }) %}
    <label {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}><i class="fa fa-upload"></i> {{ 'Upload'|trans }}</label>
{% endblock %}

{#{% block streetspots_websitebundle_spotimage_row %}#}
    {#{% set attr = attr|merge({'class': (attr.class|default('') ~ ' card-group')|trim}) %}#}
    {#<div {{ block('widget_container_attributes') }}>#}
        {#{{ form_widget(form.imageFile) }}#}
    {#</div>#}
{#{% endblock %}#}
