{% extends '@StreetSpotsWebsite/base.html.twig' %}
{% set standalone = true %}

{% block wrapper %}
    <div class="background-image">
        <!-- background picture property of Rikki Chan -->
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-2 offset-md-5">
                <h1 class="text-white mb-0 display-4">StreetSpots</h1>
                <p class="text-white lead">grind that shit :)</p>

                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>
{% endblock wrapper %}
